svg{
    color:white;
    padding: 6px;
}
input{
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
}
.search-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
   
    gap: 2px;
 
}
.bottom-container{
    height: 100%;
    min-width: 40%;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px  ;
}
.main-search-container{
    background-color: rgb(240, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    
}
.ul-container{
    /* border: 1px solid red; */
}