.list{
    display: flex;
    
}
.searchbtn{
    height: 20px;
    width: 50px;
    background-color: transparent;
    font-size: 6px;
    border: none;

}
.icon{
    font-size: 10px;
    color: black;
    font-weight: 300;
}
.para{
   font-size: 10px;

}
svg{
    color: red;
}
.listcontainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    box-shadow: 2px 2px 10px 10px white;
    /* border: 1px solid red; */
      margin: 10px;
      border-radius: 10px;
  
    /* border: 1px solid red; */

}